<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/editor.less">
        <%- include('parts/head'); %>
        <title>Своя игра – Категории</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Категории", userIcon: userIcon}) %>
        <main>
            <div>
                <%- include('parts/categoriesList', {
                    user: {
                        id: id
                    },
                    categories: categories,
                    addTo: false,
                    displayAuthor: true
                }) %>
            </div>
        </main>
    </body>
</html>