<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="less/gamesList.less">
        <%- include('parts/head'); %>
        <title>Своя игра – Вход</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Игры", userIcon: userIcon}) %>
        <main>
            <div>
                <a href="game/create" style="font-size: 150%;">Create game</a>
                <% for( let i = 0; i < games.length; i++ ) { %>
                    <%- include("parts/game", { game: games[i] }) %>
                <% } %>
            </div>
        </main>
    </body>
</html>