<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/login.less">
        <%- include('parts/head'); %>
        <title>Своя игра – Вход</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Text"}) %>
        <main>
            <div>
                <form id="loginForm">
                    <div id="loginInput">
                        <input name="login" type="text" placeholder="Login" required>
                        <label for="login">User not found</label>
                    </div>
                    <div id="passwordInput">
                        <input name="password" type="password" placeholder="Password" required>
                        <label for="password">Incorrect password</label>
                    </div>
                    <input type="submit">
                </form>
            </div>
        </main>
        <script src="scripts/netFunctions.js" type="text/javascript"></script>
    </body>
</html>