<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/editor.less">
        <%- include('parts/head'); %>
        <title>Своя игра – Главная</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Набор", userIcon: userIcon}) %>
        <script src="scripts/setEditor.js" type="text/javascript"></script>
        <main>
            <%- include('parts/setInfoEditor') %>
        </main>
    </body>
</html>