<!DOCTYPE html>
<html>
    <head>
        <%- include('parts/head'); %>
        <title>Своя игра – Наборы</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Text"}) %>
        <main>
            <div>
                <% let id = logged ? userId : -1 %>
                <%- include('parts/setsList', {
                    displayAuthor: true,
                    userId: id,
                    sets: sets
                }) %>
            </div>
        </main>
    </body>
</html>