<header>
    <img id="icon" src="./images/icon.png">
    <div id="title">Own game</div>
    <div id="subtitle"><%= subtitle %></div>
    <ul id="navigation">
        <li><a href="./index">Main page</a></li>
        <li><a href="./sets/list">View sets</a></li>
        <li><a href="./categories/list">View categories</a></li>
    </ul>
    <img id="profileIcon" src="<%- userIcon %>" onclick="location.href='account/login';">
</header>