<header>
    <img id="icon" src="./images/icon.png">
    <div id="title">Own game</div>
    <div id="subtitle"><%= subtitle %></div>
    <ul id="navigation">
        <!-- <li><a href="./index">Main page</a></li> -->
        <li><a href="./sets/list">Наборы</a></li>
        <li><a href="./categories/list">Категории</a></li>
        <li><a href="/game/list">Игры</a></li>
    </ul>
    <img id="profileIcon" src="<%- userIcon %>" onclick="location.href='account/login';">
</header>