<script>var set_id = +"<%- id %>" </script>
<div id="setInfo" class="infoEditor">
    <div id="setHeader" class="header">
        <span class="input title" id="setTitle" contenteditable><%- id == -1 ? "Default name" : set.set_name %></span>
        <span id="setId" class="id"><%- id == -1 ? "new" : id %></span>
    </div>
    <div class="divider"></div>
    <span class="textarea" id="setDescription" contenteditable><%- id == -1 ? "Default description" : set.set_description %></span>
    <button id="saveButton" onclick="saveSet()">Save</button>
</div>