#userInfo {
    display: grid;
    grid-template: auto auto / auto 1fr auto;
    grid-template-areas: 
        "icon _ menu"
        "icon _ menu";
    
    div {
        font-size: 200%;
    }
    #userRole {
        margin-left: .5em;
        color: gray;
    }

    #menu {
        display: flex;
        align-items: end;
        grid-area: menu;

        #exitButton {
            font-size: 75%;
            color: red;
        }
        #editButton {
            font-size: 75%;
        }
    }

    img {
        grid-area: icon;
        height: 5em;
        padding-right: 2em;
    }
}

#content {
    input[type="radio"] {
        display: none;
        + label {
            cursor: pointer;
            font-size: 150%;
            padding: .5em;
            padding-bottom: .4em;
        }
    }
    input[type="radio"]:checked + label {
        background: linear-gradient(rgba(255, 255, 255, 0), gray);
    }

    #categories, #sets {
        display: none;
    }

    #setsSelector:checked ~ #sets {
        display: block;
    }
    #categoriesSelector:checked ~ #categories {
        display: block;
    }

    .createButton {
        font-size: 120%;
    }
}
