#userInfo {
    display: grid;
    grid-template: auto auto / auto 1fr auto;
    grid-template-areas: 
        "icon _ menu"
        "icon _ menu";
    
    div {
        font-size: 200%;
    }

    #menu {
        display: flex;
        align-items: end;
        grid-area: menu;

        #exitButton {
            font-size: 60%;
            color: red;
        }
    }

    img {
        grid-area: icon;
        height: 5em;
        padding-right: 2em;
    }
}

#createSetButton {
    font-size: 120%;
}