#setInfo, .infoEditor {
    display: grid;
    grid-template: auto auto auto / calc(100% - 5em) auto;
    grid-template-areas: 
        "title title"
        "divider divider"
        "description button";
    #setHeader {
        grid-area: title;
        #setTitle {
            padding-right: .5em;
            color: white;
            border: none;
            font-size: 200%;
            width: auto;
        }
        #setId {
            font-size: 150%;
            color: gray;
        }
    }
    .divider {
        grid-area: divider;
    }
    #editButton, #saveButton {
        place-self: end;
        grid-area: button;
    }
    #setDescription {
        font-size: 125%;
        display: inline-block;
        word-break: break-all;
        grid-area: description;
    }
    button {
        font-size: 150%;
    }
}

.infoEditor {
    .input {
        max-width: calc(100% - 2em);
        display: inline-block;
    }
    .textarea {
        display: block;
        
        border: none;
        color: white;
        background: none;
        resize: none;
        height: auto;
    }
}


.round {
    margin-bottom: 1em;
    height: fit-content;

    .roundHeader {
        display: block;
        font-size: 150%;
        padding: .25em .5em .25em .5em;
        background-color: rgb(91, 91, 91);
        border-radius: 1em;

        .roundNumber {
            color: rgb(189, 189, 189);
        }
    }

    ul {
        // margin: 0;
        // transition: 1s;
        margin-top: .5em;
        overflow: hidden;
        // height: 0;

        li {
            margin-bottom: .5em;
        }
    }

    input {
        display: none;
    }

    input:checked + ul {
        margin-top: .5em;
        height: auto;
    }
}

