body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    // background-color: #f1f1f1;
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 6px;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: auto 1fr auto / auto auto 1fr;
    grid-template-areas: 
        "title game game"
        "host game game"
        "chat chat players";

    > div {
        background-color: gray;
        margin: 1em;
    }

    #hostContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: host;
        width: 15vw;
        > img {
            width: 100%;
        }
        > #becomeHost {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    #game {
        grid-area: game;
    }

    #chat {
        position: relative;
        grid-area: chat;
        height: 20vh;
        width: 30vw;

        #chatbox {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            height: calc(100% - 1em);
            .systemMessage {
                align-self: center;
            }
            .playerMessage {
                &.outcoming {
                    text-align: end;
                }
                .sender {
                    color: rgb(0, 0, 172);
                    margin-right: .5em;
                }
            }
        }
        input {
            position: absolute;
            bottom: 0;
            width: calc(100% - 8px);
        }
    }

    #players {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;

        > div {
            display: flex;
            flex-direction: column;
            > img {
                height: 7.5em;
            }
        }
    }
}

// #admin {
//     grid-area: "admin";

//     img {
//         height: 15vh;
//     }
// }

// #screen {
//     grid-area: game;
// }

// #panel {
//     grid-area: "panel";
    
// }

// #users {
//     grid-area: "users";
    
// }