body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    // background-color: #f1f1f1;
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 6px;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}

button {
    height: fit-content;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: .25em;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: auto 1fr auto / auto auto 1fr;
    grid-template-areas: 
        "title game game"
        "host game game"
        "chat chat players";

    > div {
        background-color: gray;
        margin: 16px;
    }

    #hostContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: host;
        width: 15vw;
        > img {
            width: 100%;
        }
        > #becomeHost {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: #575757ac;
            backdrop-filter: blur(5px);
            color: white;
            font-size: 200%;
        }

        > #controlPanel {
            position: absolute;
            display: none;
            flex-direction: column;
            bottom: 0;
            > button {
                font-size: 200%;
                &#correctAnswerButton {
                    color: rgb(0, 200, 0);
                }
                &#wrongAnswerButton {
                    color: rgb(200, 0, 0);
                }
            }
        }
        > #answerButton {
            position: absolute;
            display: none;
            flex-direction: column;
            bottom: 0;
            > button {
                font-size: 200%;
                color: rgb(0, 200, 0);
            }
        }
    }

    #screen {
        position: relative;
        grid-area: game;

        > #screenContentCentered {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            cursor: pointer;
            > .text {
                font-size: 500%;
            }
            > .hint {
                font-size: 200%;
                position: absolute;
                bottom: 0;
            }
        }

        > #screenTable {
            display: flex;
            font-size: 200%;
            height: 100%;

            > #tableHeader {
                display: flex;
                flex-direction: column;
                width: 25%;
                height: 100%;
                overflow-x: wrap;
                overflow-wrap: break-word;
                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;
                }
            }

            > #tableBody {
                display: flex;
                flex-direction: column;
                flex: 1;

                > .tableRow {
                    display: flex;
                    flex: 1;
                    > .tableCell {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex: 1;
                        &.clickable {
                            cursor: pointer;
                            &:hover {
                                background-color: #989898;
                            }
                        }
                        > span {
                            text-align: center;
                            padding: auto;
                        }
                    }
                }
            }
        }

        .cell {
            border-color: white;
            border-style: solid;
        }
    }

    #chat {
        position: relative;
        grid-area: chat;
        height: 20vh;
        width: 30vw;

        #chatbox {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            height: calc(100% - 1em);
            .systemMessage {
                align-self: center;
            }
            .playerMessage {
                &.outcoming {
                    text-align: end;
                }
                .sender {
                    color: rgb(0, 0, 172);
                    margin-right: .5em;
                }
            }
        }
        input {
            position: absolute;
            bottom: 0;
            width: calc(100% - 8px);
        }
    }

    #players {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;

        > div {
            display: flex;
            flex-direction: column;
            padding: 2px;
            > img {
                height: 7.5em;
            }

            &.active {
                background-color: rgb(42, 149, 13);
            }
        }
    }
}

// #admin {
//     grid-area: "admin";

//     img {
//         height: 15vh;
//     }
// }

// #screen {
//     grid-area: game;
// }

// #panel {
//     grid-area: "panel";
    
// }

// #users {
//     grid-area: "users";
    
// }